{% load static %}

<div class="footer" data-background="{% static 'images/bg-map-dot.jpg' %}">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="footer-item">
            <img
              src="{% static 'images/logo.jpg' %}"
              alt="logo bottom"
              class="logo-bottom"
            />
            <div class="spacer-30"></div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit
              amet, consectetuer adipiscing elit, sed diam nonummy.
            </p>
            <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="footer-item">
            <div class="footer-title">WHO WE ARE</div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <ul class="list">
                  <li>
                    <a href="about.html" title="About us">About us</a>
                  </li>
                  <li><a href="couses.html" title="Couses">Gallery</a></li>
                  <li>
                    <a href="testimonials.html" title="Testimonials">News</a>
                  </li>
                  <li>
                    <a href="gallery.html" title="Gallery">Events</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-6">
                <ul class="list">
                  <li>
                    <a href="our-team.html" title="Our Team">Our Team</a>
                  </li>
                  <li><a href="events.html" title="Events">Events</a></li>
                  <li>
                    <a href="contact.html" title="Contact Us">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="footer-item">
            <div class="footer-title">WHERE WE WORK</div>
            <ul class="list-info">
              <li>
                <div class="info-icon">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="info-text">Kathmandu, Nepal</div>
              </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="info-text">+977 01 4426005</div>
              </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-envelope"></span>
                </div>
                <div class="info-text">info@nrna.com</div>
              </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-clock-o"></span>
                </div>
                <div class="info-text">Mon - Sat 09:00 - 17:00</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="footer-item">
            <div class="footer-title">FOLLOW US</div>
            <p>
              Lit sed The Best in dolor sit amet consectetur adipisicing elit
              sedconsectetur adipisicing
            </p>
            <div class="sosmed-icon primary">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fcopy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="ftex">
            Copyright 2022 &copy;
            <span class="color-primary">NRNA </span>. Designed by
            <span class="color-primary">Samita Adhikari</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
