{% extends 'main.html' %} {% block content %}{% load static %}
<!-- BANNER -->
<div id="oc-fullslider" class="banner owl-carousel">
  <!-- <div class="owl-slide">
        <div class="item">
          <video width="100%" height="100%" autobuffer controls autoplay>
            <source src="video/video.mp4" type="video/mp4" />
             <source src="video/best_buddys-2.html" type="video/ogg" /> 
          </video>
          <div class="slider-pos">
            <div class="container">
              <div class="wrap-caption">
                <h1 class="caption-heading bg">
                  <span>#NRNA</span> NRNA event 1
                </h1>
                <p class="bg">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet.
                </p>
                <a href="#" class="btn btn-light">LEARN MORE</a>
                
              </div>
            </div>
          </div>
        </div>
      </div> -->
  {% for slide in slider %}
  <div class="owl-slide">
    <div class="item">
      <img src="{{slide.image.url}}" alt="Slider" />
      <div class="slider-pos">
        <div class="container">
          <div class="wrap-caption">
            {% comment %} <h1 class="caption-heading bg">{{slide.title}}</h1>
            <p class="bg">{{ slide.Description }}</p> {% endcomment %}

            <!-- <a href="#" class="btn btn-primary">DONATE NOW</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="clearfix"></div>

<!-- SHORTCUT -->
<div class="section services">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row col-0 overlap">
            <div class="col-sm-4 col-md-4">
              <!-- BOX 1 -->
              <div
                class="rs-feature-box-1"
                data-background="{% static 'images/join.jpg' %}"
              >
                <div class="body">
                  <p>Become A Member</p>
                  <h3>Join now</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <!-- BOX 2 -->
              <div
                class="rs-feature-box-1 bgdark"
                data-background="{% static 'images/bg-map-dot.jpg' %}"
              >
                <div class="body">
                  <a href="#" class="uk18"
                    >Contribute To NRNA & Its Projects</a
                  >
                  <h3>Get Involved Now</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <!-- BOX 3 -->
              <div
                class="rs-feature-box-1"
                data-background="{% static 'images/kids.jpg' %}"
              >
                <div class="body">
                  <a href="#" class="uk18">Remote Educational materials</a>
                  <h3>Donate Us</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WELCOME TO NGOO-->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading">Welcome <span>To</span> Nrna Non-Resident Nepali Association</h2>
        </div>

        <div class="col-sm-6 col-md-6">
          {% for about in abouts %}
          <p>{{about.description}}</p>
          {% endfor %}
          <div class="spacer-30"></div>
          <a href="{% url 'teams'  %}" class="btn btn-primary">MEET OUR TEAMS</a>
          <div class="spacer-30"></div>
        </div>

        <div class="col-sm-6 col-md-6">
          <div class="about-img">
            <div class="about-img-top">
              <div class="hover-img">
                <img
                  src="{% static 'images/office.jpg' %}"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="about-img-bottom">
              <div class="hover-img">
                <img
                  src="{% static 'images/office.jpg' %}"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WE NEED YOUR HELP -->
<div class="section services">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading center">Our <span>Projects</span></h2>
          <p class="subheading text-center">
            Lorem ipsum dolor sit amet, onsectetur adipiscing cons ectetur
            nulla. Sed at ullamcorper risus.
          </p>
        </div>
        <div class="clearfix"></div>
        {% for project in projects %}
        <!-- Item 1 -->
        <div class="col-sm-4 col-md-4">
          <div class="box-fundraising">
            <div class="media">
              <img src="{{ project.image.url}}" alt="" />
            </div>
            <div class="body-content">
              <p class="title">
                <a href="{% url 'project' project.id %}">{{project.name}}</a>
              </p>
              <div class="text">{{project.description|slice:":100"}}...</div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Item 2 -->

        <div class="col-sm-12 col-md-12">
          <div class="spacer-50"></div>
          <div class="text-center">
            <a href="{% url 'project' %}" class="btn btn-primary">SEE ALL PROJECTS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WE HELP MANY PEOPLE -->
<div class="section cta" data-background="{% static 'images/bg-map-dot.jpg' %}">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="cta-info">
            <h1 class="section-heading light no-after">
              <span>We Help Many</span> People
            </h1>
            <h3 class="color-primary">Want to Become a Volunteer</h3>

            <div class="spacer-10"></div>
            <p>
              Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste
              natus error sit voluptatem accusantium dolore mque laudantium,
              totam rem aperiam, eaque ipsa quae ab illo invent. Sed ut
              perspiciatis unde omnis iste natus error sit .
            </p>

            <a href="#" class="btn btn-light margin-btn">LEARN MORE</a>
            <a href="#" class="btn btn-primary margin-btn">JOIN US NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UPCOMING EVENTS -->
<div class="section">
  <div class="content-wrap-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <div class="image-with-title">
            <div class="image-title">
              <p>View Our Events</p>
              <h3>Get Involved Now</h3>
            </div>
            <img
              src="{% static 'images/event.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>

        <div class="col-sm-6 col-md-5">
          <h2 class="section-heading"><span>Upcoming</span> Events</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium dolore mque laudantium.
          </p>

          <div class="list-events">
            {% for upcomming_event in upcomming_events %}
            <div class="box-event">
              <div class="meta-date">
                <div class="date">{{ upcomming_event.event_date.day }}</div>
                <div class="month">
                  {{ upcomming_event.event_date|date:'F' }}
                </div>
              </div>
              <div class="body-content dark">
                <h4>
                  <a href="events-detail.html">{{upcomming_event.name}}</a>
                </h4>
                <div class="meta">
                  <span class="location"
                    ><i class="fa fa-map-marker"></i
                    >{{upcomming_event.location}}</span
                  >
                </div>
                <p>{{upcomming_event.description}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OUR VOLUUNTER SAYS -->
<div
  class="section statistic"
  data-background="{% static 'images/bg-gallery.png' %}"
>
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading center">
            Our <span>Voluunter</span> Says
          </h2>
          <p class="subheading text-center">
            Lorem ipsum dolor sit amet, onsectetur adipiscing cons ectetur
            nulla. Sed at ullamcorper risus.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 offset-md-1">
          <div id="testimonial">
            {% for testomonial in testomonials %}
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <blockquote>{{testomonial.testomonial}}</blockquote>
                  <div class="media">
                    <img
                      src="{{ testomonial.avatar.url}}"
                      alt=""
                      class="rounded-circle"
                    />
                  </div>
                  <p class="quote-name">
                    {{testomonial.name}} <span>{{testomonial.about}}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- OUR PARTNERS -->
  <div class="section">
    <div class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading center">Our <span>Partners</span></h2>
            <p class="subheading text-center">
              Lorem ipsum dolor sit amet, onsectetur adipiscing cons ectetur
              nulla. Sed at ullamcorper risus.
            </p>
          </div>
        </div>
        <div class="row gutter-5">
          {% for partner in partners %}
          <div class="col-6 col-md-2">
            <a href="#"
              ><img
                src="{{ partner.image.url }}"
                alt=""
                class="img-fluid img-border"
            /></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
